# Python
__pycache__/
.Python

# Virtual Environment
.venv
.env
env/
venv/
*.toml
*.lock

# IDE
.idea/
.vscode/
.DS_Store
.DS_Store?

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Logs
*.log
logs/
log/

# Folders and Files
Archive/

# Security
security/
.secrets.baseline

# Data
Data/
utils/